.card {
  display: grid;
  width: 50%;
  border: 5px solid black;
  padding: 5px;
  margin: auto;
  margin-top: 30px;
  text-align: left;
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, sans-serif;
  border-radius: 15px;
}
