/* .authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  } */
  * {
    text-align: center;
    background-color: whitesmoke;
  }
  
  h1 {
    font-family: system-ui, -apple-system, sans-serif;
    color: black;
    padding: 0.5px;
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
  